
@{
    ViewData["Title"] = "StaffLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />


<form id="frmStaffLog" method="get">
    <div class="form-row mt-0">
        <div class="form-group col-md-12">
            <h2>Staff operation report on the company's software</h2>
        </div>
        <div class="row">
            <div class="col-sm-2 text-lg-left"><label>From Date <span class="text-danger">*</span></label></div>
            <div class="col-sm-3">
                <input type="text" id="StartDate" value="" name="StartDate" class="form-control datepicker" />
            </div>

            <div class="col-sm-2 text-lg-left"><label>To Date <span class="text-danger">*</span></label></div>
            <div class="col-sm-3">
                <input type="text" id="EndDate" value="" name="EndDate" class="form-control datepicker" />
            </div>


            <div class="col-sm-2">
                <input type="submit" id="btnsubmit" value="Search" class="btn btn-primary" />
            </div>
            <br /><br />
        </div>
    </div>
</form>
<div id="StaffList">
    <div style="margin-top:10px;margin-bottom:10px;">
    </div>
    <div>
        <table id="dtStaffLog">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name of Staff</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <button type="button" id="createReport" class="btn btn-info">Create Report</button>
    </div>
</div>

@section Scripts{
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script>
        var StaffArray = new Array();
        $(document).ready(function () {
            $("#StaffList").hide();
            $('#StartDate').datepicker({

                startDate:"2020/01/01",
                changeMonth: true,
                format: "yyyy/mm/dd",
            });

            $('#EndDate').datepicker({
                startDate: "2020/01/01",
                format: "yyyy/mm/dd",
                language: "tr"
            });
        var validationresult = $("#frmStaffLog").validate({
            rules: {
                "StartDate": { required: true },
                "EndDate": { required: true }
            },

            messages: {
                "StartDate": {
                    required: "Please select date"
                },
                "EndDate": {
                    required: "Please select date"
                }
            },
            submitHandler: function (form) {
                $("#StaffList").show();
                tableId = "#dtStaffLog";
                bindStaffTable(tableId);
            }
        });
        });




        function bindStaffTable(tableId) {
            if ($.fn.DataTable.isDataTable(tableId)) {
                $(tableId).dataTable().fnDestroy();
            }
            dynamic = $(tableId).DataTable({
                "bProcessing": true,
                "bServerSide": true,
                //bLengthChange: false,
                "sAjaxSource": "/Staff/GetStaffList",
                "initComplete": function (settings, json) { },
                "rowCallback": function (row, data, index) { },
                fnServerParams: function (aoData) {
                    aoData.push(
                        { "name": "StartDate", "value": $("#StartDate").val() },
                        { "name": "EndDate", "value": $("#EndDate").val() },
                    );
                },
                "language": {
                    "info": "Showing _START_ to _END_ of _TOTAL_ Staffs",
                    "sInfoEmpty": "Showing 0 to 0 of 0 Staffs"
                },
                "columns": [
                    {
                        "data": "id",
                        "autoWidth": true,
                        "searchable": true,
                        "orderable": true,
                        "render": function (data, type, row) {
                            return data;
                        }
                    },
                    {
                        "data": "name",
                        "autoWidth": true,
                        "searchable": true,
                        "orderable": true,
                        "render": function (data, type, row) {
                            return data;
                        }
                    },
                    {
                        "data": "id",
                        "autoWidth": true,
                        "searchable": true,
                        "orderable": true,
                        "render": function (data, type, row) {
                            var element = `<input type="checkbox" class="StaffCheckbox" id="${data}"/>`;
                            return element;

                        }
                    }

                ]
            });

        }

        $(document).on("change", ".StaffCheckbox", function () {
            if ($(this).prop("checked") == true) {
                StaffArray.push(parseInt($(this).attr('id')));
            }
            if ($(this).prop("checked") == false) {
                arrayRemove(StaffArray, parseInt($(this).attr('id')));
            }

        });

        $(document).on("click", "#createReport", function () {
            if (StaffArray.length === 0) {
                alert("Please select  atleast  1 staff !");
                return false
            } else {


       window.location.href = `/Staff/CreateReport?staffId=${StaffArray.toString()}&StartDate=${$("#StartDate").val()}&EndDate=${$("#EndDate").val()}`;

            }
         //$.get('/Staff/CreateReport', { staffId: StaffArray.toString(), StartDate: $("#StartDate").val(), EndDate: $("#EndDate").val() });
            return false;
   
        });
    </script>
}






