@model EasyLearner.Service.Dto.StudentFilterDto
@{
    ViewData["Title"] = "NoOfQuestionAnswerGradeWise";
}


<link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />

<center><h4> Number of Question-Answer In Deffrent Grade</h4></center>
<br />
<input type="text" id="FromDate" value="@Model.FromDate" hidden />
<input type="text" id="ToDate" value="@Model.ToDate" hidden />
@*<form id="frmStudentfilter" method="get">
        <div class="form-row mt-0">
            <div class="form-group col-md-12">
                    <div>
                        <h5><b>Please select:-</b></h5>
                        <label for="IsActive">Memeber Student</label>
                        <input type="radio" asp-for="IsMember" name="ActiveStatus" value="true"><br />

                        <label for="IsInActive">Non-Member Student</label>
                        <input type="radio" asp-for="IsMember" name="ActiveStatus" value="false"><br />
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-2 text-lg-left"><label>From Date <span class="text-danger">*</span></label></div>
                <div class="col-sm-3">
                    <input type="text" asp-for="FromDate" id="FromDate" value="" name="FromDate" class="form-control" />
                </div>
                <div class="col-sm-2"><label>To Date <span class="text-danger">*</span></label></div>
                <div class="col-sm-3">
                    <input type="text" asp-for="ToDate" id="ToDate" value="" name="ToDate" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input type="submit" id="btnNext" value="NEXT" class="btn btn-primary form-control" />
                </div>
                <br /><br />
            </div>
        </div>
    </form>*@


<div id="QAList">
    <div style="margin-top:10px;margin-bottom:10px;">
    </div>
    <div>
        <table id="dtQA">
            <thead>
                <tr>
                    <th>Grade</th>
                    <th>Lessons</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            tableId = "#dtQA";
            bindQAReportTable(tableId);
        });

        $('#FromDate').datepicker
            ({
                changeMonth: true,
                changeYear: true,
                format: "yyyy/mm/dd",
                language: "tr"
            });

        $('#ToDate').datepicker
            ({
                changeMonth: true,
                changeYear: true,
                format: "yyyy/mm/dd",
                language: "tr"
            });


        //var validationresult = $("#frmStudentfilter").validate({
        //    rules: {
        //        "FromDate": { required: true },
        //        "ToDate": { required: true },
        //        "ActiveStatus": { required: true }
        //    },

        //    messages: {
        //        "FromDate": {
        //            required: "Please select date"
        //        },
        //        "ToDate": {
        //            required: "Please select date"
        //        }
        //    },
        //    submitHandler: function (form) {
        //        $("#QAList").show();
        //        //$("#btnNext").attr("disabled", true);
        //        tableId = "#dtQA";
        //        bindQAReportTable(tableId);
        //    }
        //});


        function bindQAReportTable(tableId) {
            if ($.fn.DataTable.isDataTable(tableId)) {
                $(tableId).dataTable().fnDestroy();
            }
            dynamic = $(tableId).DataTable({
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "/Student/GetQAByGrade",
                "initComplete": function (settings, json) { },
                "rowCallback": function (row, data, index) {
                },
                "order": [[0, ""]],
                "language": {
                    "info": "Showing _START_ to _END_ of _TOTAL_ QA",
                    "sInfoEmpty": "Showing 0 to 0 of 0 QA"
                },
                fnServerParams: function (aoData) {
                    aoData.push(
                        { "name": "fromDate", "value": $("#FromDate").val() },
                        { "name": "toDate", "value": $("#ToDate").val() },
                    );
                },
                "columns":
                    [

                        {
                            "data": "gradeName",
                            "autoWidth": true,
                            "searchable": true,
                            "orderable": true
                        }, {
                            "data": "lessons",
                            "autoWidth": true,
                            "searchable": true,
                            "orderable": true,
                            "render": function (data, type, row) {
                                var output = "";
                                for (var i = 0; i < data.length; i++) {
                                    output += `<div><table>
                                                <tr><td>`+ data[i].lessonName + `</td><td>(` + data[i].qaCount + `)</td></tr>
                                                </table ></div >`;
                                }
                                return output;
                            }
                        }
                    ]
            });
        }

    </script>
}



